@import url(https://db.onlinewebfonts.com/c/19379417f31c9f6fa8962bc7517692b7?family=HWT+Arabesque+W00+Regular);

  @font-face {
  font-family: 'Great Font (Luminari)';
  src: local('Luminari-Regular'), url(./fonts/Luminari-Regular.ttf) format('ttf');
}


  @font-face { 
    font-family: 'Sansita';
    src: 
      local('Sansita'),
      url('./fonts/Sansita/Sansita-Regular.ttf')
      format('ttf'),
      url("https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap")
    }



/* Font styles  */
.imported {
    font-family: 'HWT Arabesque W00 Regular', 'calibri', serif;
    font-size: 1.25rem;
    color: var(--primary);
  }
  
  .linked {
    font-family: 'Sansita', sans-serif;
    font-size: 1.75rem;
    color: var(--primary);
  }
  
  .fontFaced{
    font-family: 'Great Font (Luminari)';
    font-size: 1.5rem;
    color: var(--primary);
  
  }